
@model NovoCore.ViewModel.Dashboard

@{
    ViewData["Title"] = "Index";
}



@Model.Provider.Name<br />
@Model.Enrollee.Surname  @Model.Enrollee.Othernames<br />
@Model.Enrollee.EnrolleePassportId<br />
@Model.Enrollee.Policynumber<br />
@Model.Enrollee.Sex<br />
@Model.Staff.CompanyId<br />
@Model.Staff.StaffFullname<br />
@Model.Company.Name<br />
Verification Code: @ViewBag.randomLessThan100

@ViewBag.submittedcount


<p style="color:red">@ViewBag.FacilitiesAllowed</p>












