@model NovoCore.ViewModel.Bills
@{
    ViewData["Title"] = "SavedBills";
}


@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
}
<p>Total Bills: @ViewBag.claimscount</p>@ViewBag.claimscount


<div class="row">
    <div class="col-md-12">
    
        <div class="panel-body">
            <table id="claims" class="table table-striped table-bordered table-hover table-responsive" width="100%">
                <thead class="thin-border-bottom">
                    <tr>
                        <th>Full Name</th>
                        <th>Policy Number</th>
                        <th>Enrollee Company</th>
                        <th>Service Date</th>
                        <th>Diagnosis</th>
                        <th>Treatment Duration</th>
                        <th>Added On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (var claim in ViewBag.claims)
                {

                <tr>
                    <td>@claim.enrolleeFullname</td>
                    <td>@claim.enrolleePolicyNumber</td>
                    <td>@claim.enrolleeCompanyName</td>
                    <td>@claim.ServiceDate</td>
                    <td>@claim.Diagnosis</td>
                    <td>@claim.Durationoftreatment</td>
                    <td>@claim.CreatedOn</td>
                    <td><button data-claim-id="@claim.Id" class="btn-link js-delete">Delete</button></td>


                </tr>
                }
            </table>
        </div>
    </div>
</div>



<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    (function ($) {
        $("#claims").DataTable();
        $("#claims").on("click", ".js-delete", function () {
            var button = $(this);
            if (confirm("Are you sure you want to delete?")) {
                $.ajax({
                    url: "https://localhost:44376/api/Claims1" + button.attr("data-claim-id"),
                    method: "DELETE",
                    success: function () {
                        button.parents("tr").remove();
                    }
                });
            }
        });
           
       
        
    })(jQuery);

</script>

